:root {
  --bg-color: #333;
  --bg-color-accented: #335;
  --bg-color-darker: #222;
  --color: #fff;
  --color-accented: #0064c8;
  --color-secondary: #666;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-accented);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--bg-color-accented);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid var(--bg-color-darker);
  border-radius: 2px;
}

input:disabled {
  color: var(--color-secondary);
}

input[type="range"] {
  height: 0;
}

button {
  color: var(--color);
  background-color: var(--bg-color-darker);
  outline: none;
}

button:disabled {
  color: var(--color-secondary);
}

button:not(:disabled):active {
  background-color: var(--bg-color-accented);
}

button:focus {
  border-color: #666;
}
